* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f4f7fb;
    color: #333;
    line-height: 1.6;
}

header {
    position: relative;
    background-color: #003399;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.btn-voltar {
    position: absolute;
    right: 20px;
    top: 33%;  
    padding: 10px 18px;
    background-color: #1f3c88;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-voltar:hover {
    background-color: #162d66;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; 
}

main {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease-in-out;
}

section:hover {
    transform: translateY(-3px);
}

section h2 {
    color: #003399;
    border-left: 5px solid #ffd700;
    padding-left: 10px;
    margin-bottom: 15px;
}

section p {
    margin-bottom: 15px;
    text-align: justify;
}

section img {
    display: block;
    margin: 15px auto;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 8px;
}

a {
    color: #003399;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #0055ff;
}

footer {
    text-align: center;
    background-color: #003399;
    color: white;
    padding: 15px 0;
    font-size: 0.9rem;
    margin-top: 40px;
}

@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    main {
        margin: 20px auto;
    }
}
.faq-container {
    max-width: 700px;
    margin-top: 20px;
}

details {
    background: #eef2ff;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccd4ff;
    transition: 0.3s;
}

details[open] {
    background: #e0e7ff;
}

summary {
    font-weight: bold;
    font-size: 1.05rem;
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "➕";
    float: right;
    transition: .3s;
}

details[open] summary::after {
    content: "➖";
}
